<div class="container">
  <form action="/userProfiles" method="get">
    <div class="form-group">
      <label for="USER ID">USER ID</label>
      <input type="text" class="form-control" name="id" aria-describedby="firstNameHelp" placeholder="A Number">

    <button type="submit" class="btn btn-primary">GET User</button>
  </form>
</div>
